# {{ ansible_managed }}

# utilizzo un ciclo for, rappresentazione stile /etc/hosts
{% for my_web in groups['web_servers'] %}
{{ hostvars[my_web]['ansible_facts']['default_ipv4']['address'] }} {{ hostvars[my_web]['ansible_facts']['hostname'] }} {{ hostvars[my_web]['ansible_facts']['fqdn'] }}
{% endfor %}

# utilizzo un ciclo for con la clausola if annidata
{% for my_web in groups['web_servers'] %}
Server: {{ hostvars[my_web]['ansible_facts']['hostname'] }} Free memory: {{ hostvars[my_web]['ansible_facts']['memfree_mb'] }}
{% if hostvars[my_web]['ansible_facts']['memfree_mb'] < 250 %}
FREE machine because < 250mb
{% else %}
BUSY machine because > 250mb
{% endif %}
{% endfor %}



# info singola macchina
Hostname: {{ ansible_hostname }}
IP: {{ ansible_host }}
OS: {{ ansible_os_family }}


# info gruppo di macchine
{% for my_web in groups['web_servers'] %}
Hostname: {{ hostvars[my_web]['ansible_facts']['hostname'] }}
IP: {{ hostvars[my_web]['ansible_facts']['default_ipv4']['address'] }}
OS: {{ hostvars[my_web]['ansible_facts']['os_family'] }}

{% endfor %}

