---
{% for my_web in groups['web_servers'] %}
- Server: {{ hostvars[my_web]['ansible_facts']['hostname'] }}
  IP: {{ hostvars[my_web]['ansible_facts']['default_ipv4']['address'] }}
  OS: {{ hostvars[my_web]['ansible_facts']['os_family'] }}
{% endfor %}

