================================================================================
================================================================================
 ####### #     #  #####  ####### #       
 #        #   #  #     # #    #  #    #  
 #         # #         #     #   #    #  
 #####      #     #####     #    #    #  
 #         # #         #   #     ####### 
 #        #   #  #     #   #          #  
 ####### #     #  #####    #          #  
== ==
{{ formatted_msg_1 }}
{{ formatted_msg_2 }}
== ==
================================================================================
================================================================================                                 