global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend hafrontend
    bind *:8000
    mode http
    default_backend habackend

backend habackend
    mode http
    balance roundrobin
    option forwardfor
    http-send-name-header Host
    cookie SERVERID insert indirect
{% for server in groups['web_servers']  %}
    server {{ hostvars[server]['ansible_facts']['hostname'] }} {{ hostvars[server]['ansible_host'] }}:{{ apache_port }} cookie {{ hostvars[server]['ansible_facts']['hostname'] }} check
{% endfor %}