Current Host: {{ ansible_facts['fqdn'] }} <br>
Host IP Address: {{ ansible_facts['default_ipv4']['address'] }} <br>
Server list: <br>
{% for host in groups['all'] %}
{{ host }} <br>
{% endfor %}
My Environment is: {{ myenv }} <br>