{% for server in groups['loadbalancer'] %}
- port: {{ apache_port }} 
  protocol: TCP
  zone: internal
  service: http
  source: "{{ hostvars[server]['ansible_facts']['default_ipv4']['address'] }}"
{% endfor %}
